@model IEnumerable<MyBookingRoles.Models.Rentals.Studio>

@{
    ViewBag.Title = "StudCatalogue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our Studios</h2>

<p>
    <b> We have a long list of highly rated studios for Photoshoots, Videoshoots, Filmography, etc </b>
</p>
<table class="table table-responsive table-hover table-condensed" id="UsersWithRoles">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudioName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudioPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudioPics)
        </th>
        <th style="background-color: gray;text-align:center;">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        var base64 = "";
        var imgsrc = "";

        <tr style="text-align:center">
            <td>
                @Html.DisplayFor(modelItem => item.StudioName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudioPrice)
            </td>
            <td>
                @if (item.StudioPics != null)
                {
                    base64 = Convert.ToBase64String(item.StudioPics);
                    imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                    <img src='@imgsrc' style="width:100px;height:100px" class="img-responsive" />
                }
            </td>
            <td style="text-align:center;">
                @Html.ActionLink("Hire Studio", "Create", "Rentals", new { id = item.StudioId }, new { @class = "btn btn-info" }) |
                @*@Html.ActionLink("Hire Studio", "Create", new { id = item.StudioId }, new { @class = "btn btn-success" }) |*@
                @*@Html.ActionLink("Details", "Details", new { id = item.StudioId }) |*@
                @Html.ActionLink("Review Studio", "Details","Rentals", new { id = item.StudioId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>

<div>
    <hr />
    <b> @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-primary" }) </b>
</div>