@model MyBookingRoles.Models.Rentals.Equipment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var base64 = "";
    var imgsrc = "";
}

<h2>Details</h2>

<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipPics)
        </dt>

        <dd>
            @if (Model.EquipPics != null)
            {
                base64 = Convert.ToBase64String(Model.EquipPics);
                imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                <img src='@imgsrc' style="width:100px;height:100px" class="img-rounded" />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EquipId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
